  .login_main {
    text-align: center;
    margin: 180px auto 0;
  }
  
  .login_logo {
    width: 150px;
  }
  
  .input_area {
    margin: 25px auto 0;
  }
  
  .email_text {
    // height: 20px;
    width: 300px;
    font-size: 16px;
    padding: 16px;
    position: relative;
    border-radius: 4px 4px 0 0;
    border: 1px solid #d1cfcf;
    border-bottom: 0;
    outline-color: rgb(137, 212, 235);
    transition: all ease 0.1s 0.1s;
  }
  
  .password {
    // height: 18px;
    width: 300px;
    font-size: 16px;
    padding: 16px;
    position: relative;
    border-radius: 0 0 4px 4px;
    border: 1px solid #d1cfcf;
    outline-color: rgb(137, 212, 235);
    transition: all ease 0.1s 0.1s;
  }
  
  .login_area {
    margin: 20px auto 20px;
  }
  
  .login_btn {
    height: 50px;
    width: 300px;
    font-size: 15px;
    padding: 6px 9px;
    background-color: #34C5F0;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    // outline-style: none;
    
  }
  
  .join_area{
    color: rgb(73, 73, 73);
    font-size: 15px;
  }
  
  .pwd_reset {
    margin-right: 38px;
  }
  
  .other_area {
    margin: 30px auto 40px;
  }
  
  
  .other {
    font-size: 12px;
    color: gray;
  }
  
  .other_logo {
    width: 65px;
    border-radius: 100px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .etc {
    border-bottom: 1px solid rgb(211, 210, 210);
    width: 300px;
    margin: 10px auto 0;
  }
  
  .guest {
    color: rgb(73, 73, 73);
  }
  
  .footer {
    margin-top: 190px;
  }
  
  .bottom_src {
    font-size: 7px;
    color: gray;
  }
  