.button_box {
  // border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 42px;
    background-color: #FAFAFA;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    &:active {
      transform: translateY(1px);
    }

    .heart_box {
      width: 30px;
      height: 40px;
      background-position: left -256px top -109px;
      background-repeat: no-repeat;
      background-size: 400px;
      margin-right: 25px;
    }

    .label {
      color: #bdbdbd;
      margin-right: 10px;
    }

    .bookMark_box {
      width: 30px;
      height: 40px;
      background-position: left -332px top -109px;
      background-repeat: no-repeat;
      background-size: 400px;
      margin-right: 25px;
    }

    &.active {
      background-color: #34C5F0;
      border: none;
      color: #FAFAFA;

      .heart_box2 {
        width: 30px;
        height: 40px;
        background-position: left -66px top -109px;
        background-repeat: no-repeat;
        background-size: 400px;
        margin-right: 25px;
      }

      .label2 {
        color: #FAFAFA;
        margin-right: 10px;
      }
    }

    &.active2 {
      background-color: #34C5F0;
      border: none;
      color: #FAFAFA;

      .label2 {
        color: #FAFAFA;
        margin-right: 10px;
      }

      .bookMark_box2 {
        width: 30px;
        height: 40px;
        background-position: left 10px top -109px;
        background-repeat: no-repeat;
        background-size: 400px;
        margin-right: 25px;
      }
    }
  }
}

// 여기부터 경계선
// 여기부터 경계선
// 여기부터 경계선
// 여기부터 경계선

.on_scrap {
  width: 440px;
  height: 80px;
  border-radius: 6px;
  color: black;
  display: flex;
  justify-content: space-between;
  transform: translate(50%, 0);
  background: #FAFAFA;
  right: 183%;
  padding: 10px;
  position: absolute;
  z-index: 999;
  transition: top 0.5s ease;
  box-shadow: 0.5px 0.5px 20px 5px lightgray;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    .on {
      font-size: 14px;
    }

    .off {
      display: none;
    }
  }


  .cancel {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: gray;
    margin-right: 20px;
  }

  a {
    .looking {
      width: 100px;
      height: 40px;
      font-size: 14px;
      font-weight: 900;
      color: #34C5F0;
      padding: 3px;
      border: 1px solid #34C5F0;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .folder {
    width: 100px;
    height: 50px;
    font-size: 14px;
    font-weight: 900;
    color: #FFF;
    padding: 5px;
    background: #34C5F0;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
  }
}

.off_scrap {
  width: 440px;
  height: 80px;
  border-radius: 6px;
  color: black;
  display: flex;
  justify-content: space-between;
  transform: translate(50%, 0);
  background: #FAFAFA;
  right: 183%;
  padding: 10px;
  position: absolute;
  z-index: 999;
  transition: top 0.5s ease;
  box-shadow: 0.5px 0.5px 20px 5px lightgray;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    .on {
      display: none;
    }

    .off {
      font-size: 14px;
    }
  }


  .cancel {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: gray;
    margin-right: 20px;
  }

  a {
    .looking {
      display: none;
    }
  }

  .folder {
    display: none;
  }
}