.deal_main_small_photo {
  width: 55px;
  height: 647px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  // border: 1px solid blue;

  .a {
    width: 54px;
    height: 54px;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    background-position: cover;
    background-size: 54px;
  }
}

.deal_main_bigbox {
  // width: 460px;
  // height: 460px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  margin: 0 auto;

  .deal_main_big_photo {
    width: 460px;
    height: 460px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
  }
}