

ul,li{list-style:none;}
.slide{width:270px;height:510px;overflow:hidden;position:relative;}
.slide ul{width:calc(100% * 8);display:flex;transition:0.5s;}
.slide li{width:calc(100% / 8);height:510px;}

.slide li:nth-child(1){background-image:url('../../Images/slide1.png')}
.slide li:nth-child(2){background-image:url('../../Images/slide2.png')}
.slide li:nth-child(3){background-image:url('../../Images/slide3.png')}
.slide li:nth-child(4){background-image:url('../../Images/slide4.png')}
.slide li:nth-child(5){background-image:url('../../Images/slide5.png')}
.slide li:nth-child(6){background-image:url('../../Images/slide6.png')}
.slide li:nth-child(7){background-image:url('../../Images/slide7.png')}
.slide li:nth-child(8){background-image:url('../../Images/slide8.png')}

.slide li:nth-child(1){background-size: 100%;}
.slide li:nth-child(2){background-size: 100%;}
.slide li:nth-child(3){background-size: 100%;}
.slide li:nth-child(4){background-size: 100%;}
.slide li:nth-child(5){background-size: 100%;}
.slide li:nth-child(6){background-size: 100%;}
.slide li:nth-child(7){background-size: 100%;}
.slide li:nth-child(8){background-size: 100%;}

.slide input{display:none;}

.slide li {
    cursor: pointer;
}

.slide .bullet{
    position:absolute;
    bottom: 20px;
    left:0;
    right:0;
    text-align:center;
    z-index:10;
}

.slide .bullet label{
    width:6px;
    height:6px;
    border-radius:10px;
    border:0.5px solid rgb(204, 204, 204);
    margin-left: 5px;
    display:inline-block;
    background:#FFFFFF;
    font-size:0;
    transition:0.5s;
    cursor: pointer;
}

#pos1:checked ~ ul{margin-left:0;}
#pos2:checked ~ ul{margin-left:-100%;}
#pos3:checked ~ ul{margin-left:-200%;}
#pos4:checked ~ ul{margin-left:-300%;}
#pos5:checked ~ ul{margin-left:-400%;}
#pos6:checked ~ ul{margin-left:-500%;}
#pos7:checked ~ ul{margin-left:-600%;}
#pos8:checked ~ ul{margin-left:-700%;}


#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3), 
#pos4:checked ~ .bullet label:nth-child(4),
#pos5:checked ~ .bullet label:nth-child(5),
#pos6:checked ~ .bullet label:nth-child(6),
#pos7:checked ~ .bullet label:nth-child(7),
#pos8:checked ~ .bullet label:nth-child(8)
{background:#35C5F0;}

.slide {
    margin-right: 120px;
    border-radius: 6px;
}
