.today_story_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .today_story_content{
        width: 266px;
        height: 178px;
        overflow: hidden; 
        margin-right: 25px;
        border-radius: 5px;
        cursor: pointer;

        .data_img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: all 0.08s ease;
        } 
        
        .data_img:hover {
            transform: scale(1.05);
        }
    }
}

.today_story_sub {
    margin-top: 15px;
    margin-left: 10px;
    .data_title {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 8px;
        letter-spacing: 0.2px
    }
    .data_user_box {
        display: flex;
        align-items: center;
        .data_uesr_img{
            border-radius: 50%;
            width: 23px;
            margin-right: 5px;
        }
        .data_user {
            font-size: 13px;
        }
    }
}

.today_story_main {
    cursor: pointer;
}
