// .qwer {
//   border: 2px solid orange;
//   height: 2000px;
//   width: 100%;
//   max-width: 1200px;

.knowHowPage {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .contents {
    // border: 1px solid aqua;
    max-width: 1150px;
    width: 100%;
    // height: 100%;
    display: flex;
    position: relative;

  }
}