.menuicon_container {
    background-color: #FFFFFF;
    height: 170px;
    width: 100%;
}

.menuicon_lists {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.menuicon_img {
    width: 140px;
    margin-top: 20px;
}

.munuicon_txt {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
