.nav {
    border-bottom: 1px solid #EDEDED;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #FFFFFF;
    // position: relative; 
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;


    .nav_body {
        display: flex;
        width: 1136px;
        margin: auto;
        justify-content: space-between;

        .nav_left {
            display: flex;
            align-items: center;

            .home_logo {
                width: 88px;
                margin-top: 10px;
                cursor: pointer;
                padding-right: 17px;
            }

            .nav_lists {
                margin-top: 12px;
                display: flex;
                list-style: none;

                .nav_list {
                    font-size: 18px;
                    font-weight: bold;
                    color: #4A4A4A;
                    padding: 15px;
                    cursor: pointer;

                    &:hover {
                        color: #35C5F0;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}

.nav_list1 {
    color: #35C5F0;
    font-size: 18px;
    font-weight: bold;
    
    padding: 15px;
    cursor: pointer;
}


.nav_center {
    display: flex;
    align-items: center;
    margin-left: 220px;

    .search {
        height: 35px;
        width: 230px;
        margin-right: 10px;
        font-size: 16px;
        padding-left: 40px;
        outline: none;
        border-radius: 5px;
        border: 0.5px solid #DBDBDB;
        background-color: #FFFFFF;
    }

    .fa-search {
        font-size: 20px;
        position: absolute;
        margin-left: 12px;
        color: rgb(151, 151, 151);
    }

    .search::placeholder {
        color: rgb(209, 207, 207);
    }
}

.nav_btn {
    height: 32px;
    width: 73px;
    border-radius: 50px;
    border-color: #34C5F0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(29, 185, 233);
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: #34C5F0;
        color: white;
    }
}

.nav_txt {
    font-weight: bold;
    color: #8f8d8d;
    font-size: 15.5px;
    cursor: pointer;

    &:hover {
        color: #35C5F0;
        transition: all .3s;
    }
}

.border_left {
    border-left: 1px solid #8f8d8d;
    margin-left: 10px;
}

.category {
    background-color: gray;
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEDED;
    width: 100%;
    justify-content: space-between;

    .category_body {
        display: flex;
        width: 1136px;
        margin: auto;
        justify-content: space-between;

        .cetegory_left {

            .category_lists {
                list-style: none;
            }
        }
    }
}

.nav_right_container {
    display: flex;
}

.category_right {
    display: flex;
    align-items: center;

    .house_logo {
        width: 22px;
        padding: 5px;
        cursor: pointer;
    }
}

.category_list {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #4A4A4A;
    padding: 12px;
    cursor: pointer;

    &:hover {
        color: #35C5F0;
        transition: all .3s;
    }
}

.category_list1 {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #35C5F0;
    padding: 12px;
    cursor: pointer;
}

.download {
    font-weight: bold;
    color: #8f8d8d;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #35C5F0;
        transition: all .3s;
    }
}


.nav_right {
    display: flex;
    text-align: center;
    align-items: center;
    color: #757575;
    cursor: pointer;

    .nav_icon_box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin: 2px;

        &:hover {
            background-color: #34C5F0;
            color: white;
        }

        .fa-bookmark .fa-bell .fa-shopping-cart {
            height: 24px;
            width: 24px;
            border-color: #34C5F0;
            color: rgb(29, 185, 233);
            outline: none;
            cursor: pointer;
        }
    }
}

.smile {
    width: 32px;
}

.nav_icon_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    cursor: pointer;

    &:hover {
        color: #34C5F0;
    }
}

.nav_right_icon_box {
    display: flex;
}

@media screen and (max-width: 768px) {
    .nav {
        height: 60px;
    }

    .nav_left_btns {
        display: none;
    }

    .nav_center {
        display: none;
    }

    .nav_right_icon_box {
        display: none;
    }

    .category_right {
        display: none;
    }

    #nav_main_logo {
        width: 70px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15%;
    }

    .nav_icon_btn {
        margin-right: 15px;
    }

    .category_list {
        font-size: 14px;
    }

    .category {
        .category_body {
            justify-content: center;
            width: 100%;
        }
    }
}

@media screen and (max-width: 1020px) {
    .nav_center {
        display: none;
    }
}

a {
    text-decoration: none;
}