.shareBox {
  height: 40px;
  display: flex;
  margin-bottom: 20px;


  a {
    margin-left: 3px;
    border-radius: 3px;


    &:first-child {
      margin-left: 0;
    }
  }

  .facebook-share {
    width: 54px;
    height: 40px;
    background-color: #3b579d;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top -142px left 12px;
    text-indent: -9999px;
  }

  .kakao-share {
    width: 54px;
    height: 40px;
    background-position: top -140px left -49px;
    background-repeat: no-repeat;
    background-size: 400px;
    background-color: #FAE100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: -9999px;

  }

  .line-share {
    width: 54px;
    height: 40px;
    background-color: #3aac36;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top -141px left -109px;
    text-indent: -9999px;
  }

  .url-share {
    width: 54px;
    height: 40px;
    background-color: #35c5f0;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top -141px left -172px;
    text-indent: -9999px;
  }
}