.buttonBox {
  // border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 42px;
    background-color: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    outline: none;
    cursor: pointer;

    .heartBox {
      width: 30px;
      height: 40px;
      background-position: left -256px top -109px;
      background-repeat: no-repeat;
      background-size: 400px;
      margin-right: 25px;
    }

    .label {
      color: #bdbdbd;
      margin-right: 10px;
    }

    .bookMarkBox {
      width: 30px;
      height: 40px;
      background-position: left -332px top -109px;
      background-repeat: no-repeat;
      background-size: 400px;
      margin-right: 25px;
    }

    &.active {
      background-color: #34C5F0;
      border: none;
      color: #ffffff;

      .heartBox2 {
        width: 30px;
        height: 40px;
        background-position: left -66px top -109px;
        background-repeat: no-repeat;
        background-size: 400px;
        margin-right: 25px;
      }

      .label2 {
        color: #ffffff;
        margin-right: 10px;
      }
    }

    &.active2 {
      background-color: #34C5F0;
      border: none;
      color: #ffffff;

      .label2 {
        color: #ffffff;
        margin-right: 10px;
      }

      .bookMarkBox2 {
        width: 30px;
        height: 40px;
        background-position: left 10px top -109px;
        background-repeat: no-repeat;
        background-size: 400px;
        margin-right: 25px;
      }
    }
  }
}