.main_contents {
  width: 800px;
  // height: 100%;
  // border: 5px solid olivedrab;

  .main {
    width: 800px;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    ;
  }
}